.completed {
  text-decoration: line-through;
  color: rgb(44, 1, 68);
  border: 1px solid rgb(44, 1, 68);
}

h1 {
  font-family: 'Rochester', cursive;
  font-size: 3rem;
  font-weight: 400; 
  color: #0b011f;
  margin-bottom: 20px;
}

body { 
  background: rgb(211, 167, 238);
  background: radial-gradient(circle, rgba(81, 48, 158, 0.028) 0%, rgb(42, 3, 134) 100%);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#todo-container {
  background: rgb(153, 121, 211);
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #370182;
  padding: 20px;
  color: rgb(18, 1, 31);
  border-radius: 15px;
}

#header {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

#input-box {
  flex: 1 1 200px;
  width: 200px;
  padding: 10px;
  border: 1px solid #7308a1;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

#input-button {
  flex: 0 0 auto;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a235e6;
}

#input-button:hover {
  background-color: #8a23eb; 
}

#todo-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

li {
  border: 1px solid rgb(47, 2, 98);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

li span, li .timestamp {
  flex: 1 1 auto;
  word-break: break-word;
}

.edit-btn, .delete-btn {
  float: right;
  color: rgb(30, 1, 79);
  cursor: pointer;
  margin: 3px 5px;
  border: none;
  padding: 3px 5px;
  background: none;
} 

.edit-btn:hover, .delete-btn:hover {
  color: darkred;
}

@media screen and (max-width: 360px) {
  #input-box {
    width: 100%;
    margin-right: 0;
  }

  #input-button {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  li {
    font-size: 14px;
  }
}
